$fieldset-padding: 13px;

.dish-form {

  margin-top: -10px;
  margin-bottom: 40px;

  .wrapper-form {

    position: relative;

    padding: 20px;
    background-color: $color-gray-light;
    text-align: center;

    @include breakpoint(medium) {
      padding: 40px;
    }
  }

  &.form-dish-create .wrapper-form {
    &::after {
      position: absolute;
      top: -20px;
      right: 50px;
      margin-left: -10px;
      content: ' ';

      @include breakpoint(medium) {
        border: 10px solid transparent;
        border-bottom-color: $color-gray-light;
      }
    }
  }

  fieldset {
    width: 100%;
    margin-bottom: 20px;
    padding: $fieldset-padding $fieldset-padding 0;
    text-align: left;

    @include breakpoint(medium) {
      float: left;
      width: 50%;
      margin-bottom: 0;
    }
  }

  .select-wrapper {
    width: calc(100% - (#{$fieldset-padding} * 2));
    margin: 0 auto 10px;

    @include breakpoint(medium) {
      width: 50%;
    }
  }
}
