.dish-list {
  .headline-container {
    .button {
      margin-top: -10px;
      color: $color-orange;
    }

    .icon.svg-dish {
      position: relative;
      top: 4px;
      width: 30px;
      height: 30px;
    }
  }

  .table {
    width: 100%;

    thead {
      display: none;

      @include breakpoint(medium) {
        display: block;
      }
    }

    .table-row {
      display: block;
      width: calc(100vw - 80px);

      @include breakpoint(medium) {
        display: table-row;
        width: 100%;
      }

      .dish-title,
      .dish-category,
      .dish-actions {
        display: block;
        width: 100%;

        @include breakpoint(medium) {
          display: table-cell;
          padding: 10px;
        }
      }
    }

    .dish-title {
      width: 50%;
    }

    .dish-category {
      padding-top: 0;
      font-size: 13px;
      font-family: $font-default;

      @include breakpoint(medium) {
        width: 34%;
        padding-bottom: 10px;
      }
    }

    .dish-actions {
      width: 16%;
      padding-bottom: 20px;

      @include breakpoint(medium) {
        padding-bottom: 10px;
      }
    }

    // Special button and buttonbar style on mobile view
    .buttonbar-element {
      width: 48%;
      margin-right: 0;

      @include breakpoint(medium) {
        float: left;
        width: 70px;
        margin-right: 20px;
      }

      &:last-child {
        float: right;

        @include breakpoint(medium) {
          float: left;
        }
      }

      a {
        display: block;
        padding: 10px 15px;
        background: $color-gray-light;

        @include breakpoint(medium) {
          display: inline-block;
          padding: 0;
          background: transparent;
        }
      }
    }
  }
}
