.weeks-wrapper {
  a.week {
    @include clearfix();
    position: relative;
    float: left;
    width: 100%;
    height: 180px;
    margin-bottom: 30px;
    padding: 10px;
    color: $color-white;
    background-color: $color-green;
    text-align: center;

    @include breakpoint(small) {
      width: calc(50% - 10px);
    }

    @include breakpoint(medium) {
      width: calc(100% / 3 - 10px);
      margin-right: 15px;
    }

    @include breakpoint(xlarge) {
      width: calc(100% / 4 - 12px);
      margin-right: 16px;
    }

    &:nth-child(odd) {
      @include breakpoint(small) {
        margin-right: 20px;
      }

      @include breakpoint(medium) {
        margin-right: 15px;
      }

      @include breakpoint(xlarge) {
        margin-right: 16px;
      }
    }

    &:nth-child(3n) {
      @include breakpoint(medium) {
        margin-right: 0;
      }

      @include breakpoint(xlarge) {
        margin-right: 16px;
      }
    }

    &:nth-child(4n) {
      @include breakpoint(xlarge) {
        margin-right: 0;
      }
    }

    &:hover {
      color: $color-white;
    }

    &.week-create {
      color: $color-base;
      background-color: $color-gray-light;
    }

    &:nth-child(1) {
      border: 5px solid $color-gray-primary;
    }

    .week-info {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);

      .week-number {
        padding: 5px;
        font-family: "ClanOTBold", sans-serif;
      }
    }
  }
}
