.fancybox-overlay {
  background: $notification-background;
}

.fancybox-opened .fancybox-skin {
  border-radius: 0;
  color: $color-white;
  background-color: $color-orange;
  box-shadow: none;
}

.fancybox {
  // to hide the box before popup is applied
  display: none;
  font-size: 24px;
  font-family: "ClanOTBold", sans-serif;
  line-height: 30px;

  p { margin-bottom: 20px; }

  .button:visited { color: $color-white; }

}
