.fancybox-overlay {
  background: rgba(0,0,0,0.6);
}

.fancybox-opened .fancybox-skin {
  border-radius: 0;
  box-shadow: none;
  background-color: $color-orange;
  color: $color-white;
}

.fancybox {
  font-family: "ClanOTBold", sans-serif;
  font-size: 24px;
  line-height: 30px;

  /* to hide the box before popup is applied */
  display: none;

  p { margin-bottom: 20px; }

}
