$header-height: 95px;
$header-background: $color-gray-primary;
$header-login-button-background: #7b8b93;
$header-link-color: #acbdc7;
$header-padding-top: 30px;

$logo-width: 240px;

$transition-width: $bp-extra-small - $hamburger-width - 30px;

$login-left: 20px;

header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  width: 100%;
  height: $header-height / 1.5;
  padding-top: $header-padding-top / 3;
  background-color: $header-background;
  transform: translate3d(0, 0, 0);
  transition: transform 200ms;

  @include breakpoint(medium) {
    height: $header-height;
    padding-top: $header-padding-top;
  }

  .navigate > & {
    transform: translate3d(-$transition-width, 0, 0);

    @include breakpoint(medium) {
      transform: translate3d(0, 0, 0);
    }
  }

  .container {
    height: $header-height - $header-padding-top;
  }

  .logo {
    @include clearfix();

    float: left;
    width: $logo-width;
    font-size: 26px;
    font-family: $font-bold;

    &.partial {
      width: auto;

      @include breakpoint(medium) {
        width: $logo-width;
      }

      span {
        display: none;

        @include breakpoint(medium) {
          display: block;
        }
      }
    }

    img,
    span {
      float: left;
    }

    span {
      padding: 8px 0 0 5px;
      color: $color-white;
    }
  }

  .navbar {
    width: 100%;
    height: 100%;
    padding-top: 80px;
    text-align: justify;

    @include breakpoint(medium) {
      padding-top: 0;
    }

    &::after {
      display: inline-block;
      width: 100%;
      content: '';
    }

    li {
      display: block;
      width: 100%;

      @include breakpoint(medium) {
        display: inline-block;
        width: auto;
        height: 100%;
        min-height: 100%;
        vertical-align: baseline;

        &:last-child {
          margin-right: 0;
        }
      }
    }

    a {
      position: relative;
      display: block;
      height: 100%;
      padding: 15px 20px;
      color: $color-white;
      font-weight: bold;
      font-size: 16px;
      font-family: $font-bold;
      text-shadow: 0 -1px rgba($color-black, .4);

      @include breakpoint(medium) {
        padding: 10px 0;
        font-weight: normal;
        text-shadow: none;
      }

      &:hover,
      &:active {
        text-shadow: 1px 1px rgba($color-black, .4);

        @include breakpoint(medium) {
          text-shadow: none;
        }
      }

      &.active {
        color: $color-gray-secondary;
        pointer-events: none;
        cursor: default;
        text-shadow: none;

        @include breakpoint(medium) {
          color: $color-white;

          &::after {
            position: absolute;
            bottom: 0;
            left: 50%;
            margin-left: -10px;
            border: 10px solid transparent;
            border-bottom-color: $color-white;
            content: ' ';
            pointer-events: none;
          }
        }
      }
    }
  }

  .header-toggle {
    display: block;

    @include breakpoint(medium) {
      display: none;
    }
  }

  .header-content {
    position: relative;

    @include breakpoint(medium) {
      float: left;
      width: calc(100% - #{$logo-width});
      height: 100%;
      padding-top: 0;
    }

    &.sidebar {
      position: absolute;
      top: 0;
      right: -$transition-width;
      overflow: hidden;
      width: $transition-width;
      height: 100vh;
      background-color: $header-background;
      box-shadow: inset 5px 0 5px -5px rgba($color-black, .4);

      @include breakpoint(medium) {
        position: static;
        top: auto;
        right: auto;
        width: calc(100% - #{$logo-width});
        height: 100%;
        box-shadow: none;
      }
    }

    &.common .login {
      top: 0;
      right: 10px;
      left: auto;
      width: auto;

      @include breakpoint(medium) {
        position: absolute;
      }
    }

    &::after {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      display: block;
      width: 0;
      height: 100%;
      content: '';
    }

    .login {
      position: absolute;
      top: 20px;
      left: $login-left;

      @include breakpoint(medium) {
        position: relative;
        top: auto;
        left: auto;
      }

      &-text,
      .balance-text {
        margin-right: 0;
        color: $header-link-color;
        font-size: 12px;
      }

      &-text {
        display: inline-block;
      }

      .balance-text {
        position: absolute;
        top: 25px;
        left: 0;

        @include breakpoint(large) {
          position: static;
          top: auto;
          left: auto;
          display: inline-block;
        }
      }

      strong {
        padding-left: 5px;
        color: $color-white;
        font-family: $font-bold;
      }

      > a {
        display: inline-block;
        height: auto;
        margin-left: 10px;
        color: $header-link-color;

        &:hover {
          color: $color-white;
        }
      }
    }
  }

  .login-form {

    @include breakpoint(medium) {
      float: right;
    }

    form {
      overflow: hidden;
      float: left;
      width: $transition-width - 2 * $login-left;
      margin: 0;

      @include breakpoint(medium) {
        @include clearfix();

        width: 450px;
      }
    }

    input,
    button {
      float: left;
      width: 100%;
      height: 35px;
      border: none;
    }

    input {
      margin-bottom: 10px;
      padding: 0 10px;

      @include breakpoint(medium) {
        width: 180px;
        margin-right: 10px;
        margin-bottom: 0;
      }
    }

    .button-login {
      padding: 0 20px;
      background-color: $header-login-button-background;
      font-size: 12px;
      font-family: $font-medium;

      @include breakpoint(medium) {
        width: 70px;
        padding: 0;
        text-align: center;
      }

      &:hover {
        background: darken($header-login-button-background, 5%);
      }
    }
  }
}
